samples/flows_http.json
[
    {
        "id": "109b7475.91424c",
        "type": "tab",
        "label": "API for HCC Web Test Page",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c50da416.cbe3b",
        "type": "comment",
        "z": "109b7475.91424c",
        "name": "hyconet API",
        "info": "",
        "x": 90,
        "y": 160,
        "wires": []
    },
    {
        "id": "125ab76e.168369",
        "type": "http in",
        "z": "109b7475.91424c",
        "name": "",
        "url": "/hyconet",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "39d47c1e.7b48e4"
            ]
        ]
    },
    {
        "id": "1a11cefb.858421",
        "type": "function",
        "z": "109b7475.91424c",
        "name": "default",
        "func": "console.log(\"Command Error: \" + JSON.stringify(msg.payload));\nmsg.payload[\"Command Error\"] = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 740,
        "wires": [
            [
                "d1db197e.3d1528"
            ]
        ]
    },
    {
        "id": "d1db197e.3d1528",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "39d47c1e.7b48e4",
        "type": "switch",
        "z": "109b7475.91424c",
        "name": "Dispatcher",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "search",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "select",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "directselect",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getDialAppInfoURL",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getDialAppInfo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getMedia",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getChannels",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getReceiverStatus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "startAITControlledApp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getTaskStatus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "connws",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sendws",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 13,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "dffb922a.9c5bc8"
            ],
            [
                "3b6c3429.4da69c"
            ],
            [
                "a461ccab.6ca8b8"
            ],
            [
                "fac9e4ea.abbe18"
            ],
            [
                "dc3800c1.0b2ec"
            ],
            [
                "36a79435.1a8284"
            ],
            [
                "7203f6ef.10cf08"
            ],
            [
                "3916ca7e.ca270e"
            ],
            [
                "dbe604ab.0a5388"
            ],
            [
                "2099a96b.8aa7c6"
            ],
            [
                "25a6e912.c842de"
            ],
            [
                "67d54365.3bf174"
            ],
            [
                "1a11cefb.858421"
            ]
        ],
        "outputLabels": [
            "機器探索(search)",
            "機器選択(select)",
            "機器選択(directselect)",
            "取得先URL(getDialAppInfoURL)",
            "ハイコネプロトコル情報(getDialAppInfo)",
            "メディア情報取得(getMedia)",
            "チャンネル情報取得(getChannels)",
            "受信機状態取得(getReceiverStatus)",
            "選局指定(startAITControlledApp)",
            "タスク状態取得(getTaskStatus)",
            "WS接続(connws)",
            "WS送信(sendws)",
            "その他"
        ],
        "info": "commandの内容によって処理を分岐"
    },
    {
        "id": "1af73901.4f37e7",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "dffb922a.9c5bc8",
        "type": "search",
        "z": "109b7475.91424c",
        "name": "search",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "1af73901.4f37e7"
            ]
        ]
    },
    {
        "id": "45ffb962.2ff48",
        "type": "select",
        "z": "109b7475.91424c",
        "name": "select",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "cd03f2a6.cb3bd8"
            ]
        ]
    },
    {
        "id": "cd03f2a6.cb3bd8",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "3b6c3429.4da69c",
        "type": "function",
        "z": "109b7475.91424c",
        "name": "setClientId",
        "func": "msg.payload['ClientID'] = \"hcex-node-red\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "45ffb962.2ff48"
            ]
        ]
    },
    {
        "id": "a461ccab.6ca8b8",
        "type": "directselect",
        "z": "109b7475.91424c",
        "name": "directselect",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "9df07d63.a0f5b8"
            ]
        ]
    },
    {
        "id": "9df07d63.a0f5b8",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "91b8d3a8.c08148",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "3f64ee05.3bdf62",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "dbe604ab.0a5388",
        "type": "startAITControlledApp",
        "z": "109b7475.91424c",
        "name": "startAITControlledApp",
        "x": 420,
        "y": 540,
        "wires": [
            [
                "9dc9435e.dec3f8"
            ]
        ]
    },
    {
        "id": "9dc9435e.dec3f8",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "93930ed9.ffa2e8",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "25a6e912.c842de",
        "type": "connws",
        "z": "109b7475.91424c",
        "name": "connws",
        "x": 380,
        "y": 640,
        "wires": [
            [
                "732295f.061bf6c"
            ]
        ]
    },
    {
        "id": "732295f.061bf6c",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "67d54365.3bf174",
        "type": "sendws",
        "z": "109b7475.91424c",
        "name": "sendws",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "9077cf10.4938c8"
            ]
        ]
    },
    {
        "id": "9077cf10.4938c8",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "571d378b.cdb4c8",
        "type": "recvws",
        "z": "109b7475.91424c",
        "name": "recvws",
        "x": 370,
        "y": 840,
        "wires": [
            [
                "3e927877.f1dcc"
            ],
            [
                "abfe9bb8.cb4288"
            ]
        ]
    },
    {
        "id": "3e927877.f1dcc",
        "type": "debug",
        "z": "109b7475.91424c",
        "name": "message",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 820,
        "wires": []
    },
    {
        "id": "abfe9bb8.cb4288",
        "type": "debug",
        "z": "109b7475.91424c",
        "name": "seturl",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 860,
        "wires": []
    },
    {
        "id": "ab6d125b.fb905",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "dc3800c1.0b2ec",
        "type": "getDialAppInfo",
        "z": "109b7475.91424c",
        "name": "getDialAppInfo",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "d18d0299.5416c8"
            ]
        ]
    },
    {
        "id": "fac9e4ea.abbe18",
        "type": "getDialAppInfoURL",
        "z": "109b7475.91424c",
        "name": "getDialAppInfoURL",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "bf45ec3d.881318"
            ]
        ]
    },
    {
        "id": "bf45ec3d.881318",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "d18d0299.5416c8",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/json"
        },
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "36a79435.1a8284",
        "type": "getMedia",
        "z": "109b7475.91424c",
        "name": "getMedia",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "91b8d3a8.c08148"
            ]
        ]
    },
    {
        "id": "7203f6ef.10cf08",
        "type": "getChannels",
        "z": "109b7475.91424c",
        "name": "getChannels",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "3f64ee05.3bdf62"
            ]
        ]
    },
    {
        "id": "2099a96b.8aa7c6",
        "type": "getTaskStatus",
        "z": "109b7475.91424c",
        "name": "getTaskStatus",
        "x": 400,
        "y": 580,
        "wires": [
            [
                "ab6d125b.fb905"
            ]
        ]
    },
    {
        "id": "3916ca7e.ca270e",
        "type": "getReceiverStatus",
        "z": "109b7475.91424c",
        "name": "getReceiverSatus",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "93930ed9.ffa2e8"
            ]
        ]
    },
    {
        "id": "cb538596.86481",
        "type": "http in",
        "z": "109b7475.91424c",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "46dd4eb0.0045b8"
            ]
        ]
    },
    {
        "id": "6110f290.91d74c",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "46dd4eb0.0045b8",
        "type": "file in",
        "z": "109b7475.91424c",
        "name": "",
        "filename": "/data/htmls/index.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "6110f290.91d74c"
            ]
        ]
    },
    {
        "id": "d21cae5.a1fb85",
        "type": "file in",
        "z": "109b7475.91424c",
        "name": "",
        "filename": "/data/htmls/hcnode.js",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "8f40833f.afbf28"
            ]
        ]
    },
    {
        "id": "300afd8d.8ed752",
        "type": "http in",
        "z": "109b7475.91424c",
        "name": "",
        "url": "/hcnode.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "d21cae5.a1fb85"
            ]
        ]
    },
    {
        "id": "8f40833f.afbf28",
        "type": "http response",
        "z": "109b7475.91424c",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/javascript"
        },
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "9794d422.f2883",
        "type": "comment",
        "z": "109b7475.91424c",
        "name": "hyconet API",
        "info": "",
        "x": 90,
        "y": 20,
        "wires": []
    }
]