samples/flows.json
[{"id":"f9e128d8.0ce92","type":"tab","label":"Basic Test","disabled":false,"info":""},{"id":"bc90bea6.26f9","type":"tab","label":"API for HCC Web Test Page","disabled":false,"info":""},{"id":"b5350a8c.69d4b","type":"search","z":"f9e128d8.0ce92","name":"search","x":690,"y":80,"wires":[["8e316b67.5cad38"]]},{"id":"37e06d37.a3a4d2","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"デバイス探索(search","payloadType":"str","x":130,"y":80,"wires":[["b5350a8c.69d4b"]]},{"id":"5b6a4a3e.f6fe5c","type":"function","z":"f9e128d8.0ce92","name":"Select","func":"devList = msg.payload;\n\nvar seldev = null;\nfor(var i=0; i<devList.length; i++) {\n\tif( 0 <= devList[i]['friendlyName'].indexOf('Fire TV') ) {\n\t\tseldev = {\n\t\t\tindex: i,\n\t\t\tipaddr: devList[i]['ipaddr']\n\t\t};\n\t\tbreak;\n\t}\n}\n\nreturn {payload: seldev};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":120,"wires":[["400bc527.bd07ec"]]},{"id":"400bc527.bd07ec","type":"select","z":"f9e128d8.0ce92","name":"select","x":690,"y":120,"wires":[["8e316b67.5cad38"]]},{"id":"86bac90e.f52778","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"メディア可否情報取得","payloadType":"str","x":140,"y":260,"wires":[["ff7950a.d4f3f3"]]},{"id":"70dc074.ca2f578","type":"debug","z":"f9e128d8.0ce92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":380,"wires":[]},{"id":"ff7950a.d4f3f3","type":"getMedia","z":"f9e128d8.0ce92","name":"getMedia","x":680,"y":260,"wires":[["70dc074.ca2f578"]]},{"id":"f803ddaa.16144","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"編成チャンネル情報取得","payloadType":"str","x":150,"y":300,"wires":[["e43e8cd5.60543"]]},{"id":"45df1f83.42166","type":"getChannels","z":"f9e128d8.0ce92","name":"getChannels","x":670,"y":300,"wires":[["70dc074.ca2f578"]]},{"id":"e43e8cd5.60543","type":"function","z":"f9e128d8.0ce92","name":"SetMedia(\"TD\")","func":"//set media\nmsg.payload = {\"media\":\"TD\"};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["45df1f83.42166"]]},{"id":"2808df55.958fd8","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"受信機状態取得(ReceiverStatus","payloadType":"str","x":170,"y":400,"wires":[["14c607ee.bdf4b"]]},{"id":"14c607ee.bdf4b","type":"getReceiverStatus","z":"f9e128d8.0ce92","name":"getReceiverStatus","x":650,"y":400,"wires":[["70dc074.ca2f578"]]},{"id":"3df5d813.597228","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" 起動可否情報取得(TaskStatusAPI","payloadType":"str","x":170,"y":440,"wires":[["b03ada46.95e35"]]},{"id":"b03ada46.95e35","type":"getTaskStatus","z":"f9e128d8.0ce92","name":"getTaskStatus","x":660,"y":440,"wires":[["70dc074.ca2f578"]]},{"id":"73786b0f.41c85c","type":"startAITControlledApp","z":"f9e128d8.0ce92","name":"startAITControlledApp","x":640,"y":480,"wires":[["70dc074.ca2f578"]]},{"id":"b8cc507c.390e88","type":"function","z":"f9e128d8.0ce92","name":"Specify LaunchParams","func":"//set parameters, mode=tune\nmsg.payload = {\n\tmode:\"tune\",\n\tapp: {\n\t\tresource: {original_network_id: 32736, transport_stream_id: 32736, service_id: 1024},\n\t\thybridcast: {aiturl:\"http://172.16.11.91/hybridcast/hc/nhk.ait\",orgid:1,appid:1}\n\t}\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":480,"wires":[["73786b0f.41c85c"]]},{"id":"bf7e16e2.ab22c8","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"選局(tune)","payloadType":"str","x":100,"y":480,"wires":[["b8cc507c.390e88"]]},{"id":"3e2e6f4d.2d71d8","type":"comment","z":"f9e128d8.0ce92","name":"ハイブリッドキャスト起動（選局）、受信機状態取得","info":"","x":200,"y":360,"wires":[]},{"id":"34312996.179e56","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"デバイス選択(select","payloadType":"str","x":130,"y":120,"wires":[["a8d6f438.2b85a"]]},{"id":"403ab352.c003e4","type":"comment","z":"f9e128d8.0ce92","name":"デバイス探索、選択","info":"","x":90,"y":40,"wires":[]},{"id":"1bfc709c.7a3637","type":"comment","z":"f9e128d8.0ce92","name":"受信機設定情報取得","info":"","x":100,"y":220,"wires":[]},{"id":"4a4ced5a.6b653c","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HCアプリ起動(startAITAPI","payloadType":"str","x":150,"y":520,"wires":[["5fc5a6bb.e5e07"]]},{"id":"5fc5a6bb.e5e07","type":"function","z":"f9e128d8.0ce92","name":"Specify Launch Params","func":"//set parameters, mode=tune\nmsg.payload = {\n\tmode:\"app\",\n\tapp: {\n\t\tresource: {original_network_id: 32737, transport_stream_id: 32737, service_id: 1032},\n\t\thybridcast: {aiturl:\"http://172.16.11.91/hybridcast/hc/nhk.ait\",orgid:1,appid:1}\n\t}\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":520,"wires":[["def3fc7a.f17fc"]]},{"id":"def3fc7a.f17fc","type":"startAITControlledApp","z":"f9e128d8.0ce92","name":"startAITControlledApp","x":640,"y":520,"wires":[["70dc074.ca2f578"]]},{"id":"b4ec6524.d152f","type":"comment","z":"f9e128d8.0ce92","name":"連携端末データ通信(Inter-device Com. over websocket","info":"","x":200,"y":580,"wires":[]},{"id":"58223917.960928","type":"recvws","z":"f9e128d8.0ce92","name":"ReceiveWebsocketData","x":660,"y":720,"wires":[["7006ff66.21c7a"],["6bc65b2d.b86984"]]},{"id":"7006ff66.21c7a","type":"debug","z":"f9e128d8.0ce92","name":"message","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":700,"wires":[]},{"id":"6bc65b2d.b86984","type":"debug","z":"f9e128d8.0ce92","name":"seturl","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":740,"wires":[]},{"id":"317c2d7c.35f7d2","type":"connws","z":"f9e128d8.0ce92","name":"websocketConnect","x":650,"y":620,"wires":[["3779c3de.6b2cc4"]]},{"id":"871dad31.7ffb","type":"sendws","z":"f9e128d8.0ce92","name":"sendTextOverWebsocket","x":670,"y":660,"wires":[["3779c3de.6b2cc4"]]},{"id":"f7f1286a.c68ff","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"WebsocketConnection","payloadType":"str","x":140,"y":620,"wires":[["317c2d7c.35f7d2"]]},{"id":"e5d99dd.f1c0de","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sendTextToHostDevice","payloadType":"str","x":140,"y":660,"wires":[["c8b40665.57a2"]]},{"id":"3779c3de.6b2cc4","type":"debug","z":"f9e128d8.0ce92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":640,"wires":[]},{"id":"8e316b67.5cad38","type":"debug","z":"f9e128d8.0ce92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":120,"wires":[]},{"id":"c8b40665.57a2","type":"function","z":"f9e128d8.0ce92","name":"sendTextMessage","func":"//set media\nmsg.payload = {\"message\":\"ただいま\"};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":660,"wires":[["871dad31.7ffb"]]},{"id":"17662c1a.e5dd94","type":"inject","z":"f9e128d8.0ce92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"直接デバイス選択(directselect","payloadType":"str","x":160,"y":160,"wires":[["30f5e21.f2dc21e"]]},{"id":"a65cb1f4.eafcd","type":"directselect","z":"f9e128d8.0ce92","name":"directselect","x":670,"y":160,"wires":[["8e316b67.5cad38"]]},{"id":"30f5e21.f2dc21e","type":"function","z":"f9e128d8.0ce92","name":"directSelect","func":"msg.payload = {\n    ipaddr:\"192.168.150.12\",\n    maker:\"HCXPGeneric\",\n    friendlyName:\"FireTV Stick\",\n    ApplicationURL: \"http://192.168.150.12:8887/apps/antwapp\",\n    uuid: \"http://192.168.150.12:8887\",\n\tLocationURL: \"http://192.168.150.12:60000/upnp/dev/c5890ada-8593-31a2-bce2-ad1390cb8f57/desc\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":160,"wires":[["a65cb1f4.eafcd"]]},{"id":"a8d6f438.2b85a","type":"getDeviceList","z":"f9e128d8.0ce92","name":"getDevieList","x":340,"y":120,"wires":[["5b6a4a3e.f6fe5c"]]},{"id":"a1196ae2.a7235","type":"comment","z":"bc90bea6.26f9","name":"hyconet API","info":"","x":90,"y":160,"wires":[]},{"id":"520f4f1c.0b3b2","type":"http in","z":"bc90bea6.26f9","name":"","url":"/hyconet","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["c795786e.9671f"]]},{"id":"22a9cd48.d02022","type":"function","z":"bc90bea6.26f9","name":"default","func":"console.log(\"Command Error: \" + JSON.stringify(msg.payload));\nmsg.payload[\"Command Error\"] = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":740,"wires":[["84833e0c.5e764"]]},{"id":"84833e0c.5e764","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":740,"wires":[]},{"id":"c795786e.9671f","type":"switch","z":"bc90bea6.26f9","name":"Dispatcher","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"search","vt":"str"},{"t":"eq","v":"select","vt":"str"},{"t":"eq","v":"directselect","vt":"str"},{"t":"eq","v":"getDialAppInfoURL","vt":"str"},{"t":"eq","v":"getDialAppInfo","vt":"str"},{"t":"eq","v":"getMedia","vt":"str"},{"t":"eq","v":"getChannels","vt":"str"},{"t":"eq","v":"getReceiverStatus","vt":"str"},{"t":"eq","v":"startAITControlledApp","vt":"str"},{"t":"eq","v":"getTaskStatus","vt":"str"},{"t":"eq","v":"connws","vt":"str"},{"t":"eq","v":"sendws","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":13,"x":130,"y":560,"wires":[["dd00d377.22cd28"],["2e23fbb2.4f078c"],["879d7a00.cfcc5"],["cb749ecb.593e88"],["4898db37.6ea5ac"],["95875a65.321928"],["81bc5130.a479b"],["e3523d.7775f5c"],["43be2350.2f7104"],["1a317ad9.a1f2e5"],["5bc0161a.7e5a5"],["2199daef.9ca826"],["22a9cd48.d02022"]],"outputLabels":["機器探索(search)","機器選択(select)","機器選択(directselect)","取得先URL(getDialAppInfoURL)","ハイコネプロトコル情報(getDialAppInfo)","メディア情報取得(getMedia)","チャンネル情報取得(getChannels)","受信機状態取得(getReceiverStatus)","選局指定(startAITControlledApp)","タスク状態取得(getTaskStatus)","WS接続(connws)","WS送信(sendws)","その他"],"info":"commandの内容によって処理を分岐"},{"id":"4c79a857.1e2af8","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":200,"wires":[]},{"id":"dd00d377.22cd28","type":"search","z":"bc90bea6.26f9","name":"search","x":370,"y":200,"wires":[["4c79a857.1e2af8"]]},{"id":"7ee7f89d.73abb","type":"select","z":"bc90bea6.26f9","name":"select","x":530,"y":240,"wires":[["5e3dfe34.cb4b"]]},{"id":"5e3dfe34.cb4b","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":240,"wires":[]},{"id":"2e23fbb2.4f078c","type":"function","z":"bc90bea6.26f9","name":"setClientId","func":"msg.payload['ClientID'] = \"hcex-node-red\";\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["7ee7f89d.73abb"]]},{"id":"879d7a00.cfcc5","type":"directselect","z":"bc90bea6.26f9","name":"directselect","x":390,"y":280,"wires":[["910f4f4f.c2b26"]]},{"id":"910f4f4f.c2b26","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":280,"wires":[]},{"id":"a84d5be.6578c28","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":420,"wires":[]},{"id":"f0479566.7cf9a8","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":460,"wires":[]},{"id":"43be2350.2f7104","type":"startAITControlledApp","z":"bc90bea6.26f9","name":"startAITControlledApp","x":420,"y":540,"wires":[["16edb50f.84769b"]]},{"id":"16edb50f.84769b","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":540,"wires":[]},{"id":"fb7ac651.31a9e","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":500,"wires":[]},{"id":"5bc0161a.7e5a5","type":"connws","z":"bc90bea6.26f9","name":"connws","x":380,"y":640,"wires":[["7810f27c.e7a6a4"]]},{"id":"7810f27c.e7a6a4","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":640,"wires":[]},{"id":"2199daef.9ca826","type":"sendws","z":"bc90bea6.26f9","name":"sendws","x":380,"y":680,"wires":[["6b06ddb2.56718c"]]},{"id":"6b06ddb2.56718c","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":680,"wires":[]},{"id":"c23c8cbe.a0afc8","type":"recvws","z":"bc90bea6.26f9","name":"recvws","x":370,"y":840,"wires":[["81f459ce.29e6c8"],["6121e81e.c95c3"]]},{"id":"81f459ce.29e6c8","type":"debug","z":"bc90bea6.26f9","name":"message","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":820,"wires":[]},{"id":"6121e81e.c95c3","type":"debug","z":"bc90bea6.26f9","name":"seturl","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":860,"wires":[]},{"id":"b7b41b87.c8954","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":580,"wires":[]},{"id":"4898db37.6ea5ac","type":"getDialAppInfo","z":"bc90bea6.26f9","name":"getDialAppInfo","x":400,"y":360,"wires":[["1902024f.409766"]]},{"id":"cb749ecb.593e88","type":"getDialAppInfoURL","z":"bc90bea6.26f9","name":"getDialAppInfoURL","x":410,"y":320,"wires":[["8d532652.408a6"]]},{"id":"8d532652.408a6","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":320,"wires":[]},{"id":"1902024f.409766","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/json"},"x":730,"y":360,"wires":[]},{"id":"95875a65.321928","type":"getMedia","z":"bc90bea6.26f9","name":"getMedia","x":380,"y":420,"wires":[["a84d5be.6578c28"]]},{"id":"81bc5130.a479b","type":"getChannels","z":"bc90bea6.26f9","name":"getChannels","x":390,"y":460,"wires":[["f0479566.7cf9a8"]]},{"id":"1a317ad9.a1f2e5","type":"getTaskStatus","z":"bc90bea6.26f9","name":"getTaskStatus","x":400,"y":580,"wires":[["b7b41b87.c8954"]]},{"id":"e3523d.7775f5c","type":"getReceiverStatus","z":"bc90bea6.26f9","name":"getReceiverSatus","x":410,"y":500,"wires":[["fb7ac651.31a9e"]]},{"id":"7ac2f60c.cc2ce8","type":"http in","z":"bc90bea6.26f9","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["f7e5f0a8.f09e58"]]},{"id":"6c84b5a2.607dac","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{},"x":510,"y":60,"wires":[]},{"id":"f7e5f0a8.f09e58","type":"file in","z":"bc90bea6.26f9","name":"","filename":"/data/htmls/index.html","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":340,"y":60,"wires":[["6c84b5a2.607dac"]]},{"id":"dc320f17.f881c8","type":"file in","z":"bc90bea6.26f9","name":"","filename":"/data/htmls/hcnode.js","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":340,"y":100,"wires":[["eebb59cd.5a24e8"]]},{"id":"37e02ed5.d02362","type":"http in","z":"bc90bea6.26f9","name":"","url":"/hcnode.js","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["dc320f17.f881c8"]]},{"id":"eebb59cd.5a24e8","type":"http response","z":"bc90bea6.26f9","name":"","statusCode":"","headers":{"content-type":"text/javascript"},"x":510,"y":100,"wires":[]},{"id":"29d8afc6.d0d908","type":"comment","z":"bc90bea6.26f9","name":"hyconet API","info":"","x":90,"y":20,"wires":[]}]